@CHARSET "UTF-8";

body {
	margin:0;
	padding:0;
	background: black;
	font-color: white;
	font-size: 13pt;
	font-family: "Droid Sans", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
}


.ui-body-c, .ui-body-c input, .ui-body-c select, .ui-body-c textarea, .ui-body-c button {
    font-family: "Droid Sans", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif !important;
}

#mtbl tbody td, #mtbl th {
    width: 103px;
    padding: 0;
    margin: 0;
    text-align: left;
    padding-right: 1px;
}

input, #mtbl select {
	font-size: 10pt;
	border: inset 1px;
	border-radius: 3px/2px;
	width: 90px;
}

#mtbl select {
    -webkit-appearance: none;
    background: #fefefe;
    padding: 1px;
    width: 103px;
    margin-right: 1px;
    padding-top:2px;
    padding-bottom:2px;

}


.control-type-boolean {
    /*width: 150px;*/
}

input[type=radio] {
	width:20px;
}

input:focus {
	border-color: #e55;
}

table {
	border-spacing: 0px;
}

input[type=button] {
	padding:2px;
	background:#ddd;
}


.pane-input {
	width: 240px;
	border: outset 1px;
	font-size:11pt;
}

.pane-button  {
	width:100px;
}

.add-button {
		width:1.5em;
	
}

.hed-act , .inp-key {
	background: #dfd;
}

.inp-key {
	width: 15em;
}

.inp-value {
	width: 30em;
}

.sg-unstarred:before {
    content: url("../media/star4.png");
}

.sg-starred:before {
    content: url("../media/star-lit4.png");
}

.inp-act {
    -webkit-appearance: caret;
    padding-top:2px;
    padding-bottom:2px;
}

.inp-cal {
    -webkit-appearance: caret;
	background: #fdd;
	font-size: 10pt;
	border: inset 1px;
	border-radius: 3px/2px;
	padding-top:2px;
	padding-bottom:2px;
}

.hed-act.shown-in-pane {
	background: #afa;
}

.inp-cal.shown-in-pane {
	background: #faa;
}

.shown-in-pane {
	background: #ffa;
}

#headerbar {
	padding-left:8pt;
	padding-top:4pt;
    padding-bottom:4pt;
	font-color:black;
	/*background:white;*/
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(80%,#F9F9F9), color-stop(100%,#fff));*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(20%,#F9F9F9), color-stop(100%,#555));
	position:fixed;
	top:0;
	left:0;
	width:100%;
}

#title {
    font-family: 'Fugaz One', cursive;
    font-size:35px;
    float:left;
}

#info {
    font-size: 10pt;
    padding-top:10pt;
    padding-right:25pt;
    color:#333;
    float:right;
    font-family: "Droid Sans", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
}

#detailheader {
    float: left;
}

#block-title {
    display: inline;
    width: 300px;
    margin-left: 15px;
    font-weight: bold;
}

#pane {
	position: fixed;
	top: 55px;
	right:10px;
	width:400px;
	border: 2px #555;
	border: inset 2px;
	border-radius: 3px/2px;
	background: #eee;
	font-color:#333;
	padding:5px;
	font-size:11pt;
	display:none;
	
	z-index:105;
}

#singulars {
	position:fixed;
	left:0;
	top:50px;
	width:100%;
	background:#000;
	/*border-bottom: 2px solid #fff;*/
	z-index:90;
}

#listselectwrapper {
    position: fixed;
    width: 100%;
    background-color: #eee;
    height:40px;
    /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(66%,#000));*/
    background: -webkit-gradient(linear, left top, left bottom, color-stop(15%,#000), color-stop(85%,#F9F9F9));
}

#listselect {

}

input.listselect-active, input.listselect-inactive {
    width: 150px !important;
    display: inline !important;
    font-weight: bold;
}

input.listselect-active {
    -webkit-border-radius: 6px;
    -webkit-border-bottom-right-radius: 1px;
    -webkit-border-bottom-left-radius: 1px;
    -moz-border-radius: 6px;
    -moz-border-radius-bottomright: 1px;
    -moz-border-radius-bottomleft: 1px;
    border-radius: 6px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom: 5px solid #F9F9F9;
}

input.listselect-inactive {
    background-color: #dedede;
}


#mainwrapper {
	position:fixed;
	width:100%;
	left:0;
	z-index:100;
}

#main {
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    background: #000;
    width: 100%;
}

#bottom-singulars {
    font-size:5px;
}


#mtbl tbody {
    display: block;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    border-collapse: collapse;
    padding-bottom:352px; /* keyboard height, TODO: make it dynamic */
}

#mtbl thead {
    border-collapse: collapse;
}

#mtbl thead {
    width: 100%;
}

#mtbl thead tr {
    display: block;
}

.page-detail {
    display: none;
}

/*  HOME page styles */

#content-page-home {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    top:50px;

    background: -webkit-gradient(linear, left top, left bottom, color-stop(66%,#000000), color-stop(95%,#999), color-stop(100%,#ddd));
}

.home-block-container .home-block-title {
    font-size: 15pt;
    padding-bottom: 2px;
    text-decoration: underline;
}

.home-block-container .home-block-lists {
    padding-bottom: 6px;
}

.home-block-container, #home-new-block {
    margin:10px;
    float: left;
    width: 45%;
    border: 2px #555;
    border: inset 2px;
    border-radius: 7px/5px;
    background: #eee;
    color:#333;
    padding:5px;
    font-size:13pt;
}

#home-new-block {
    border: 4px dashed #555;
    background: #333;
    color:#ddd;
    text-shadow: 0 1px 0 #999;
    height: 200px;
}

#home-new-block .home-new-block-plus {
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

#home-new-block .home-new-block-text {
    font-size: 20px;
    text-align: center;
}

.home-block-container dt {
    float: left;
    clear: left;
    width:60%;
    border-bottom: 1px dotted #555;
}

.home-block-container dd {
    float: left;
    border-bottom: 1px dotted #555;
    -webkit-margin-start: 0px;
}

