@CHARSET "UTF-8";

body {
	margin:0;
	padding:0;
	background: black;
	font-color: white;
	font-size: 13pt;
	font-family: "Droid Sans", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
}

input {
	font-size: 10pt;
	border: inset 1px;
	border-radius: 3px/2px;
    -webkit-appearance: none;
	width:7em;
}

input:focus {
	border-color:
}

table {
	border-spacing: 0px;
}

input[type=button] {
	padding:2px;
	background:#ddd;
	width:1.5em;
}

#info {
	font-size: 10pt;
	padding:5pt;
	color:#eee;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #444;
}

.hed-act , .inp-key {
	background: #dfd;
}

.inp-key {
	width: 15em;
}

.inp-value {
	width: 30em;
}


.inp-cal {
	background: #fdd;
}

#title {
	padding-left:8pt;
	margin-bottom:8pt;
	font-family: 'Fugaz One', cursive;
	font-size:28pt;
	font-color:black;
	background:white;
}