@CHARSET "UTF-8";

body {
	margin:0;
	padding:0;
	background: black;
	font-color: white;
	font-size: 13pt;
	font-family: "Droid Sans", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
}

input {
	font-size: 10pt;
	border: inset 1px;
	border-radius: 3px/2px;
    -webkit-appearance: none;
	width:7em;
}

input:focus {
	border-color: #e55;
}

table {
	border-spacing: 0px;
}

input[type=button] {
	padding:2px;
	background:#ddd;
}


.pane-gui-element input  {
	width: 240px;
	border: outset 1px;
	font-size:11pt;
}

.pane-button  {
	width:100px;
}

.add-button {
		width:1.5em;
	
}

#info {
	font-size: 10pt;
	padding:5pt;
	color:#eee;
	position: absolute;
	left: 0px;
	bottom: 0px;
	width: 100%;
	background: #444;
}

.hed-act , .inp-key {
	background: #dfd;
}

.inp-key {
	width: 15em;
}

.inp-value {
	width: 30em;
}


.inp-cal {
	background: #fdd;
}

#title {
	padding-left:8pt;
	margin-bottom:8pt;
	font-family: 'Fugaz One', cursive;
	font-size:28pt;
	font-color:black;
	background:white;
}

#pane {
	position: fixed;
	top: 70px;
	right:20px;
	width:250px;
	border: 2px #555;
	border: inset 2px;
	border-radius: 3px/2px;
	background: #eee;
	font-color:#333;
	padding:5px;
	font-size:11pt;
	display:none;
}




