body {
    margin:0;
    padding:0;
    text-align:center;
    font-size: 16pt;
    background-color: #f5f5f5;
}

.wf-active .title,
.wf-active .tabulata {
    font-family: 'Fugaz One', sans-serif;
}

.wf-active p,
.wf-active h2,
.wf-active #footer {
    font-family: Anaheim, sans-serif;
}

h2 {
    font-weight: normal;
    font-size: 162%;
    margin: 6pt 0 3pt;
    padding: 0;
}

h2 + p {
    margin-top: 3pt;
}

.title { font-size:162%; font-weight:bold; }

div p:first-child {
    margin-top: 0;
}

code {
    background: #ecee54;
}

a {
    color: #633;
}

a:hover {
    color: #cb5327;
}

.wf-active code {
    font-family: 'Share Tech Mono', monospace;
    font-weight: normal;
    font-size: 92%;
}

#maincontent {
    width: 760px;
    margin:25px auto;
    padding: 25px;
    text-align:left;
    background: #fefefe;
    color: #330;
    border: 1px solid #bbb;
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
}

#footer {
    margin: 25px 0 15px;
    font-size: 12pt;
    color: #666;
    text-shadow: rgba(0, 0, 0, 0.2) -1px -1px 1px;


}

.open-app {
    border: solid #666;
    border-width: 1px 0 1px;
    padding: 4pt 0 4pt 4pt;
    margin: 2pt 0 2pt 0;
    background: #efe;
}

.open-app + h2 {
    margin-top: 1em;
}

img {
    text-align: center;
    display: block;
    margin: 0 auto;
}